huggingface_hub
langchain
langchain_openai
langchain_community
langchain_core
langchain_huggingface
langchain_experimental
langgraph
duckduckgo-search>=2.9.5
deep-translator
openai
wikipedia
pandas
numpy==1.26.4
nltk
transformers
accelerate
transformers_stream_generator
tiktoken
faiss-cpu
ipywidgets